<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">
<title>血糖値管理</title>
</head>
<body>
	<heading class="header">
		<h2>
			<a class="headerClass" th:href="@{/}" th:text="'ようこそ、' + ${username} + 'さん'"></a>
		</h2>
		<div class="headerDiv">
			<a class="headerText" th:href="@{/option}" method="get" th:text="今までの数値を確認"></a>
		</div>
		<form th:action="@{/logout}" method="post">
			<input id="logoutBtn" class="headerButton" type="submit" name="logout" value="ログアウト"/>
		</form>
	</heading>
	<div class="headScroll"></div>
	<div class="border border-secondary acc">
		<div class="accordion" id="formAccordion" th:each="form : ${numericForm}">
		  <div class="accordion-item">
		    <div class="accordion-header" th:id="'heading' + ${form.date}">
		      <button class="accordion-button collapsed" type="button"
		          data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${form.date}"
		          aria-expanded="true" th:aria-controls="'collapse' + ${form.date}">
				<p th:text="${form.year} + '年' + ${form.month} + '月' + ${form.date} + '日'"></p>
				<div class="morNoonEve">
					朝食：<span class="textRed" th:if="${form.morning_flg == '1'}" th:text="済"></span>
					昼食：<span class="textRed" th:if="${form.noon_flg == '1'}" th:text="済"></span>
					夕食：<span class="textRed" th:if="${form.evening_flg == '1'}" th:text="済"></span>
				</div>
		      </button>
		    </div>
		    <div th:id="'collapse' + ${form.date}" class="accordion-collapse collapse"
		        th:aria-labelledby="'heading' + ${form.date}" data-bs-parent="#formAccordion">
		     	<div class="accordion-body">
				<!-- 中身 -->
				<form th:action="@{/morning_set}" class="collapseDiv" method="post">
					朝の血糖値&emsp;
					<input class="numForm" type="text" th:name="morning_numeric" th:value="${form.morning_numeric}" maxlength="3" pattern="[0-9]+" required>
					朝食メニュー
					<input class="foodForm" type="text" th:name="breakfast" th:value="${form.breakfast}" maxlength="30" required>
					インスリンの数
					<select th:name="morning_insulin">
						<option value="1" th:selected="${form.morning_insulin == '1'}">1</option>
						<option value="2" th:selected="${form.morning_insulin == '2'}">2</option>
						<option value="3" th:selected="${form.morning_insulin == '3'}">3</option>
					</select>
					<button type="submit">朝食登録</button>
					<input type="hidden" th:name="year" th:value="${form.year}">
					<input type="hidden" th:name="month" th:value="${form.month}">
					<input type="hidden" th:name="date" th:value="${form.date}">
				</form>
				<form th:action="@{/noon_set}" class="collapseDiv" method="post">
					昼の血糖値&emsp;
					<input class="numForm" type="text" th:name="noon_numeric" th:value="${form.noon_numeric}" maxlength="3" pattern="[0-9]+" required>
					昼食メニュー
					<input class="foodForm" type="text" th:name="lunch" th:value="${form.lunch}" maxlength="30" required>
					インスリンの数
					<select th:name="noon_insulin">
						<option value="1" th:selected="${form.noon_insulin == '1'}">1</option>
						<option value="2" th:selected="${form.noon_insulin == '2'}">2</option>
						<option value="3" th:selected="${form.noon_insulin == '3'}">3</option>
					</select>
					<button type="submit">昼食登録</button>
					<input type="hidden" th:name="year" th:value="${form.year}">
					<input type="hidden" th:name="month" th:value="${form.month}">
					<input type="hidden" th:name="date" th:value="${form.date}">
				</form>
				<form th:action="@{/evening_set}" class="collapseDiv" method="post">
					夕方の血糖値
					<input class="numForm" type="text" th:name="evening_numeric" th:value="${form.evening_numeric}" maxlength="3" pattern="[0-9]+" required>
					夕食メニュー
					<input class="foodForm" type="text" th:name="dinner" th:value="${form.dinner}" maxlength="30" required>
					インスリンの数
					<select th:name="evening_insulin">
						<option value="1" th:selected="${form.evening_insulin == '1'}">1</option>
						<option value="2" th:selected="${form.evening_insulin == '2'}">2</option>
						<option value="3" th:selected="${form.evening_insulin == '3'}">3</option>
					</select>
					<button type="submit">夕食登録</button>
					<input type="hidden" th:name="year" th:value="${form.year}">
					<input type="hidden" th:name="month" th:value="${form.month}">
					<input type="hidden" th:name="date" th:value="${form.date}">
				</form>
				</div>
		    </div>
		  </div>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
	/*function cancelLogout(){
		var logoutBtn = document.getElementById('logoutBtn');
		
		logoutBtn.addEventListener('click',function(){
			var yesNo = window.confirm('ログアウトします。よろしいですか?');
			if(yesNo){
				return true;
			}
		}
	}*/
</script>
</body>
</html>