<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>設定・参照</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">
<script type="text/javascript">
    function intCheck(){
		var targetValue = document.getElementById('target').value;
		alert(targetValue);
        if (targetValue	.match(/[0-9]{3}/)){
			// 数字3桁だった場合、処理を実行
			return true;
        }else{
			// 目標値が数値ではない、またはnullの場合(エラーの場合)
			let targetError = document.getElementById('targetError');
			// エラーメッセージを設定
			targetError.innerHTML = '半角数値を3桁で入力してください。';
			// 送信をキャンセル
			return false;
        }
    }
</script>
<script src="js/option.js"></script>
</head>
<body>
<form class="selectMonth" th:action="@{/option}" method="post">
	<p class="textRed" th:if="${optionError} eq '1'">今月以前の年月を選択してください。</p>
	<select th:name="year">
		<option th:each="year : ${year}" th:text="${year}"></option>
	</select>年
	<select th:name="month">
			<option th:each="month : ${month}" th:text="${month}"></option>
	</select>月
	<input type="submit" value="表示">
</form>
<form class="selectMonth" th:action="@{/target}" method="post">
	<div class="textRed" id="targetError" value=""></div>
	目標値：<input type="text" th:value="${target}" id="target" name="target">
	<input type="submit" value="設定" onclick="return intCheck();">
</form>
<table class="table table-striped">
	<thread>
		<tr>
			<th>年月日</th>
			<th>朝食</th>
			<th>注射(朝)</th>
			<th>血糖値(朝)</th>
			<th>昼食</th>
			<th>注射(昼)</th>
			<th>血糖値(昼)</th>
			<th>夕食</th>
			<th>注射(夕)</th>
			<th>血糖値(夕)</th>
		</tr>
	</thread>
	<tbody>
		<tr th:each="num : ${NumericForm}">
			<td th:text="${num.year} + '年' + ${num.month} + '月' + ${num.date} + '日'" ></td>
				<td th:id="'breakfast' + ${num.date}" th:text="${num.breakfast}"></td>
				<td th:id="'morning_insulin' + ${num.date}" th:text="${num.morning_insulin}"></td>
				<td th:id="'morning_numeric' + ${num.date}" th:text="${num.morning_numeric}"></td>
			<input type="hidden" th:id="'hidmorning_numeric' + ${num.date}" th:value="${num.morning_numeric}">
				<td th:id="'lunch' + ${num.date}" th:text="${num.lunch}"></td>
				<td th:id="'noon_insulin' + ${num.date}" th:text="${num.noon_insulin}"></td>
				<td th:id="'noon_numeric' + ${num.date}" th:text="${num.noon_numeric}"></td>
			<input type="hidden" th:id="'hidnoon_numeric' + ${num.date}" th:value="${num.noon_numeric}">
				<td th:id="'dinner' + ${num.date}" th:text="${num.dinner}"></td>
				<td th:id="'evening_insulin' + ${num.date}" th:text="${num.evening_insulin}"></td>
				<td th:id="'evening_numeric' + ${num.date}" th:text="${num.evening_numeric}"></td>
			<input type="hidden" th:id="'hidevening_numeric' + ${num.date}" th:value="${num.evening_numeric}">
		</tr>
	</tbody>
</table>
<a th:href="@{/backIndex}" th:text="トップへ戻る"></a>
</body>
</html>